*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin: 0px auto;
	
}
.mm{
	background-image: url(../img/qianban17886_banner_xq17886_20180425.jpg);
	height: 205px;
	width: 100%;
}
/*.mm ul{
	text-align: center;
	margin-left: 410px;
	padding-top: 15px;

}
.mm li{
	float: left;
	margin-left: 30px;
	font-size: 20px;
	color: white;
}*/
.mm a:hover{
	color: red;
}
#mm{
	width: 100%;
	height: 550px;
/*	border: solid red 1px;*/
	margin-top: -5px;
	background-image: url(../img/qianban17886_bg_xq17886_20180425.jpg);
	
}
#first{
	width: 1344px;
	height: 570px;
	border: solid  royalblue  1px;
	background-color: royalblue;
	
}
#one{
	margin: 0px auto;
	
}
#first ul{
	float: left;
	margin-left: 60px;
	padding-left: 40px;
}
#first a{
	color: white;
	text-decoration: none;
}
#first li{
	float: left;
	font-size:15px ;
	padding: 20px;margin-left: 50px;
}
#second{
	width: 1100px;
	height:200px ;
		border: solid lightskyblue  1px;
		margin: 0px auto;
		background-color:lightskyblue ;
}
#two{
	width: 1070px;
	height: 174px;
	border: solid dodgerblue  1px;
	margin: 0px auto;
	background-color:dodgerblue;
	margin-top: 12px;
	
}
#two img{
	width: 300px;
	height: 150px;
	padding: 15px;
	margin-left: 17px;
	margin-top: -5px;
}
#three{
	background-image:url(../img/2018_football.png) ;
	width: 1300px;
	height: 480px;
	margin: 0px auto;
	margin-top: 50px;
}
#three .a{
	padding: 90px;
	width: 600px;
	height: 250px;
	margin-top: 80px;
	margin-left: 40px;
}
#three .b{
	widows: 300px;
	height: 250px;
	margin-bottom: 90px;
}
#three .d{
		
	height: 40px;
	margin-left: 91px;
}
#three .c{
	height:40px ;
	float: left;
	margin-left: 120px;
}
#fouth{
	margin-top: -383px;	
	height: 260px;
}
#fouth span{
	font-size: 18px;
	margin-left: 350px;



}
/*#fouth span>a{
	height: 30px;
	display: block;

}*/
#fouth a{
	text-decoration: none;
	color: white;

	
}#pp{
	height: 400px;
	width: 300px;
	border: solid green 1px;
	float: right;
	
	background-image:url() ;
	
}
#five{
	width: 1300px;
	height: 500px;
	background-color: white;
	margin-top: 400px;
	/*border: solid red  1px;*/
	background-image: url(../img/right_two.png);
	background-repeat:no-repeat ;
	background-position-x: right;
	background-position-y: top;
}
.five{
	margin-top: 150px;
	margin-left: 120px;
}
.five .B{
	width: 200PX;
	height: 200px;
	margin-left: 40px;
}
.five .C{
	width: 210PX;
	height: 260px;
	margin-left: 40px;
	padding-top: 10px;
}
#six {
	
	margin-top: -380px;
}
#six img{
	margin-left: 260px;
}
