*{
	margin:0px;
	padding: 0px;
	margin: 0px auto;
	list-style: none;
}
#one{
	width: 100%;
	height: 3000px;
	/*border: solid black 1px;*/
}
#two{
	width: 100%;
	height: 100px;
	/*border: solid red 1px;*/
}
#two a{
	text-decoration: none;
}
#two h2{
	margin-left: 300px;
	color: gainsboro;
	margin-top: 40px;
}
#one .d{
	height: 40px;
	width: 110px;
	border: solid white 1px;
	margin-right: 290px;
	margin-top:-37px ;
}
.d img{
	height: 30px;
	width: 30px;
	margin-top: 7px;
	float: left;
}
.d a{
	line-height: 50px;
	margin-left: 5px;
}
.a{
	height: 40px;
	width: 352px;
	border: solid white 1px;
	margin-top:-35px ;
	margin-left: 920px;
	}
#two .b{
	height: 40px;
	width: 300px;
}
#two .c{
	height: 42px;
	width: 50px;
	margin-left: -5px;
}


#three{
	width: 1500px;
	height: 760px;
	text-align: center;
	/*border: solid red 1px;*/
	background-image: url(../img/联想视频/1.png);
	background-size:100% 100% ;
}
#four{
	width: 1200px;
	height: 520px;
	/*border: solid white 1px;*/
	/*text-align: center;*/
	background-image:url(../img/联想视频/4.png) ;
	background-size:100% 100% ;
	margin-top: -250px;
}
#four video{
	margin: 10px;
	
}
#four img{
	height: 500px;
	margin: 10px;
	width: 480px;
	margin-left: -15px;
	z-index: img/联想视频/more1-105adb913a.png img/联想视频/12-24013e3cca.png /img/联想视频/4.png;
	
}
#five {
	text-align: center;
}
#five img{
	float: right;
	margin-right: 210px;
	margin-top: -100px;
}
#six{
	width: 100%;
	height: 110px;
/*	border: solid black 1px;*/
}
#seven{
	width: 1500px;
	height: 1400px;
	border: solid white 1px;
	background-image: url(../img/联想视频/2.png);
	background-size:100% 100% ;
}
.seven{
	width: 560px;
	height: 400px;
	border: solid black 1px;
	float: right;
	margin-right: 180px;
	margin-top: 190px;
}
.seven img{
	width: 560px;
	height: 400px;
}
.seven2{
	width: 560px;
	height: 400px;/*border: solid red 1px;*/

	margin-top: 620px;
	margin-right: 180px;
}.seven2 li{
	float: left;
	
}
.seven1{
	text-align: center;
	width: 1200px;
	height: 300px;
	/*border: solid blueviolet 1px;*/
}.seven1 ul{
	float: left;
}.seven1 li{
	float: left;
	margin-left: 18px;
}
#eight{
	width: 1500px;
	height: 1400px;
	border: solid white 1px;
	background-size:100% 100% ;
	background-image: url(../img/联想视频/3.png);
}
.eight-first{
	width: 510px;
}
.eight-first1{
		text-align: center;
	width: 1200px;
	height: 300px;
	/*border: solid blueviolet 1px;*/
	margin-top: 400px;
}
.eight-first1 ul{
	float: left;
}
.eight-first1 li{
	float: left;
	margin-left: 18px;
}